# Скомпилированные Python-файлы
__pycache__/
*.py[cod]
*$py.class

# Логи тестов и временные файлы
.pytest_cache/
*.log

# Poetry / Python env
.venv/
venv/
ENV/
env/

# Папки сборки Python (setuptools/dist)
build/
dist/
*.egg-info/
*.egg


# Vim swap
*.swp
*.swo
*~

# VSCode
.vscode/

# PyCharm / IntelliJ
.idea/
/src/schedule_vvsu/json/excluded_lessons.json
/src/schedule_vvsu/json/previous_schedule.json
/src/schedule_vvsu/json/schedule.json
/src/schedule_vvsu/json/credentials/service_account.json
/src/schedule_vvsu/json/credentials/user_account.json

# macOS
.DS_Store
**/.DS_Store